:root {
  background-color: #000;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-family: sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}

.react {
  font-size: 80px;
  margin-top: 1.5rem;
  color: #149eca;
  animation: spinner 9s linear infinite;
}

.react_btn {
  font-size: 40px;
  color: #149eca;
  animation: spinner 9s linear infinite;
}

.divide {
  padding-top: 7px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 600px) {
  .cientific_box {
    display: none;
  }
  .title {
    margin: 0 auto;
    max-width: 390px;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  :root {
    background-color: #000;
  }

  .title h1{
    font-size: 50px;
    gap: 0;
    margin: 1rem 0;
  }
  
  .react {
    font-size: 80px;
    margin-top: 1.5rem;
    color: #149eca;
    animation: spinner 9s linear infinite;
  }
}

@media (min-width: 1000px) {
  :root {
    background-color: #444;
  }
}