:root {
  background-color: #444;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-family: sans-serif;
}

.react {
  color: #149eca;
  animation: spinner 9s linear infinite;
}

.react-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divide {
  display: flex;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 600px) {
  .cientific_box {
    display: none;
  }
}